---
import { Icon } from 'astro-icon/components';
import Image from '~/components/common/Image.astro';

const { member } = Astro.props;
---

<article class="max-w-md mx-auto grid gap-4 p-6 rounded shadow-lg bg-white dark:bg-slate-800">
  <header class="flex flex-col items-center gap-4 mb-2">
      <h2 class="text-xl font-bold dark:text-slate-300">{member.name}</h2>
      <Image
        class="mx-auto rounded-md w-full"
        widths={[400, 768, 1024, 2040]}
        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
        loading="eager"
        width={1024}
        height={576}
        {...member.image}
      />
  </header>
  <p class="text-muted dark:text-slate-400 mb-4">{member.bio}</p>
  <footer class="flex gap-3">
    {member.social.twitter && (
      <a href={member.social.twitter} target="_blank" rel="noopener" aria-label="Twitter">
        <Icon name="tabler:brand-twitter" class="w-5 h-5 text-blue-400" />
      </a>
    )}
    {member.social.linkedin && (
      <a href={member.social.linkedin} target="_blank" rel="noopener" aria-label="LinkedIn">
        <Icon name="tabler:brand-linkedin" class="w-5 h-5 text-blue-700" />
      </a>
    )}
    {member.social.bluesky && (
      <a href={member.social.bluesky} target="_blank" rel="noopener" aria-label="Bluesky">
        <Icon name="tabler:brand-bluesky" class="w-5 h-5 text-gray-700 dark:text-slate-300" />
      </a>
    )}